.user-management {
  height: 500px;
  overflow: auto;
  width: 60vw;
}

.mat-spinner {
  margin: 100px auto;
}

.mat-header-cell {
  font-size: 14px;
  font-weight: bolder;
}

.mat-cell {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.mat-radio-button {
  margin: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.errorMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: red;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.errorMessage p {
  height: 300px;
  text-align: center;
  line-height: 50px;
  margin: 100px auto;
}

.hidden {
  display: none;
}
