.fc-content-skeleton, .fc-content-skeleton > table {
  height: 100% ;
  position: relative ;
}

.fc-event-container {
  height: 90%;
}

.fc-event {
  height: inherit;
  width: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #d9ddf2;
  color:  #737373;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  margin-bottom: 5px;
}


.fc-scroller.fc-day-grid-container {
  overflow: hidden!important;
}

.fc-row.fc-week.fc-widget-content {
  height: 64px !important;
}

.fc-scroller.fc-day-grid-container {
  height: 384px !important;
}

@media (min-height: 700px) {
  .fc-row.fc-week.fc-widget-content {
    height: 78px !important;
  }

  .fc-scroller.fc-day-grid-container {
    height: 468px !important;
  }
}

@media (min-height: 800px) {
  .fc-row.fc-week.fc-widget-content {
    height: 110px !important;
  }

  .fc-scroller.fc-day-grid-container {
    height: 660px !important;
  }
}
