<div fxLayout="row" class="project-management">
   <div class="projects">
      <!-- Projects' Options -->
      <div 
         *ngIf="departments.length" 
         fxLayout="row" 
         class="projectOptions"
      >
         <mat-form-field>
            <mat-select 
               laceholder="Select department" 
               (selectionChange)="displayProjects($event.value)"
            >
               <mat-option 
                  *ngFor="let department of departments" 
                  [value]="department"
                  (click)="setDepartment(department)"
               >
                  {{department.name}}
               </mat-option>
            </mat-select>
         </mat-form-field>
         <mat-form-field>
            <input 
               matInput 
               placeholder="Filter Clients" 
               (keyup)="filterClients($event)"
            >
         </mat-form-field>
         <div class="addClient">
            <button 
               type="submit" 
               mat-raised-button 
               color="primary" 
               [disabled]="!actualDepartment"
            >
               Add new Client
            </button>
         </div>
      </div>
      <!-- Projects Table -->
      <div *ngIf="errorMessage.length" class="errorMessage">
         <p>Ups!
            <br> There were problems with the server connection!
         </p>
      </div>
      <div *ngIf="projectsList2.length">
         <div class="main-grid">
            <div class="grid-item">Client</div>
            <div class="grid-item">Project</div>
            <div class="grid-item">Rate</div>
            <div class="grid-item">Comments</div>
            <div class="grid-item">Active</div>
            <div class="grid-item edit"></div>
         </div>
         <div *ngFor="let client of projectsList2">
            <div class="client-grid">
               <div class="grid-item truncate">
                  <h4 
                     class="truncate" 
                     title="{{client.clientName}}"
                  >
                     {{client.clientName}}
                  </h4>
               </div>
               <div>
                  <div *ngFor="let project of client.projects; let i = index">
                     <div class="project-grid">
                        <div class="grid-item truncate" title="{{project.name}}">
                           <h4 class="truncate">{{project.name}}</h4>
                        </div>
                        <div class="grid-item">
                           <h4>{{project.rate}}</h4>
                        </div>
                        <div class="grid-item truncate" title="{{project.comments}}">
                           <h4 class="truncate">{{project.comments}}</h4>
                        </div>
                        <div class="grid-item">
                           <h4>{{project.active? 'Yes' : 'No'}}</h4>
                        </div>
                        <div class="grid-item edit">
                           <button mat-icon-button (click)="editProject(project)">
                              <mat-icon>edit</mat-icon>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Create New Project -->
   <mat-card [ngClass]="{hidden: isSuccess === true || isFail === true}">
      <mat-card-header>
         <mat-card-title>Create New Project</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <form 
            class="project-form" 
            (ngSubmit)="createProject()" 
            #myForm="ngForm" 
            fxLayout="column"
         >
            <mat-form-field appearance="outline">
               <mat-label>Project Name</mat-label>
               <input 
                  matInput 
                  name="name" 
                  ngModel 
                  required
               >
            </mat-form-field>
            <mat-form-field>
               <mat-select 
                  matNativeControl 
                  placeholder="Client" 
                  name="client" 
                  ngModel 
                  required
               >
                  <mat-option 
                     *ngFor="let client of clients" 
                     [value]="client.clientId"
                  >
                     {{client.name}}
                  </mat-option>
               </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
               <mat-label>Project Rate</mat-label>
               <input 
                  matInput 
                  name="rate" 
                  ngModel 
                  required
               >
            </mat-form-field>
            <mat-form-field appearance="outline">
               <mat-label>Comments</mat-label>
               <textarea 
                  matInput 
                  name="comments" 
                  rows="3" 
                  ngModel 
                  maxlength="500"
               >
            </textarea>
            </mat-form-field>
            <mat-form-field>
               <mat-select 
                  matNativeControl 
                  placeholder="Department" 
                  name="department" 
                  ngModel 
                  required
               >
                  <mat-option 
                     [value]="department.departmentId" 
                     *ngFor="let department of departments"
                  >
                     {{department.name}}
                  </mat-option>
               </mat-select>
            </mat-form-field>
            <mat-card-actions fxLayoutAlign="center start">
               <button 
                  type="submit" 
                  mat-raised-button 
                  color="primary" 
                  [disabled]="!myForm.valid"
               >
                  Create
               </button>
            </mat-card-actions>
         </form>
      </mat-card-content>
   </mat-card>
   <mat-card [ngClass]="{hidden: isSuccess !== true}">
      <mat-card-header class="successMessage" fxLayoutAlign="center center">
         <mat-card-title>
            New Project has been created
         </mat-card-title>
      </mat-card-header>
   </mat-card>
   <mat-card [ngClass]="{hidden: isFail !== true}">
      <mat-card-header class="failMessage" fxLayoutAlign="center center">
         <mat-card-title>
            {{errorOnCreate}}
         </mat-card-title>
      </mat-card-header>
   </mat-card>
</div>