.project-management {
  padding: 0 30px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.hidden {
  display: none;
}

.mat-spinner {
  margin: 100px auto;
}

.projectOptions {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.projectOptions .mat-form-field {
  width: 200px;
}

.errorMessage {
  text-align: center;
  margin: 100px auto;
  color: red;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 5px;
}

.main-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 1fr;
}

.client-grid {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.project-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
}

.main-grid .grid-item {
  font-weight: bolder;
  color: rgba(0,0,0,.54);
  vertical-align: middle;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0,0,0,.12);
  padding: 10px;
  text-align: center;
  color: rgba(0,0,0,.87);
  font-size: 12px;
  align-items: center;
  vertical-align: middle;
}

h4 {
  font-weight: normal;
}

.truncate {
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.edit {
  border: none;
}

.addClient, .addProject {
  padding: 15px;
}

.mat-card {
  margin-top: 20px;
  /* height: 480px;
  width: 310px; */
  flex-direction: column;
  text-align: center;
}

.mat-form-field {
  width: 280px;
}

.mat-card-header {
  justify-content: center;
}

.successMessage, .failMessage {
  height: 400px; 
  text-align: center;
  align-items: center;
}
 
.successMessage mat-card-title {
  color: green;
}

.failMessage mat-card-title {
  color: red;
}

::ng-deep .mat-tooltip {
  margin: -25px !important;
  font-size: 12px !important;
}