<div class="project-management">
      <!-- Projects' Options -->
      <div 
         *ngIf="departments.length" 
         class="projectOptions"
      >
         <mat-form-field>
            <mat-select 
               laceholder="Select department" 
               (selectionChange)="displayProjects($event.value)"
            >
               <mat-option 
                  *ngFor="let department of departments" 
                  [value]="department"
                  (click)="setDepartment(department)"
               >
                  {{department.name}}
               </mat-option>
            </mat-select>
         </mat-form-field>
         <mat-form-field>
            <input 
               matInput 
               placeholder="Filter Clients" 
               (keyup)="filterClients($event)"
            >
         </mat-form-field>
         <div class="addClient">
            <button 
               type="button" 
               mat-raised-button 
               color="primary" 
               [disabled]="!actualDepartment"
            >
               Add new Client
            </button>
         </div>
         <div class="addProject">
            <button 
               type="button" 
               mat-raised-button 
               color="primary"
               (click)="createProject()"
               [disabled]="!actualDepartmentId" 
            >
               Add new Project
            </button>
         </div>
      </div>
      <!-- Projects Table -->
      <div *ngIf="errorMessage.length" class="errorMessage">
         <p>Ups!
            <br> There were problems with the server connection!
         </p>
      </div>
      <div *ngIf="projectsList2.length">
         <div class="main-grid">
            <div class="grid-item">Client</div>
            <div class="grid-item">Project</div>
            <div class="grid-item">Rate</div>
            <div class="grid-item">Comments</div>
            <div class="grid-item">Active</div>
            <div class="grid-item edit"></div>
         </div>
         <div *ngFor="let client of projectsList2">
            <div class="client-grid">
               <div class="grid-item truncate">
                  <h4 
                     class="truncate" 
                     matTooltip="{{client.clientName}}"
                  >
                     {{client.clientName}}
                  </h4>
               </div>
               <div>
                  <div *ngFor="let project of client.projects; let i = index">
                     <div class="project-grid">
                        <div 
                           class="grid-item truncate" 
                           matTooltip="{{project.name}}"
                        >
                           <h4 class="truncate">{{project.name}}</h4>
                        </div>
                        <div class="grid-item">
                           <h4>{{project.rate}}</h4>
                        </div>
                        <div 
                           class="grid-item truncate" 
                           matTooltip="{{project.comments}}"
                        >
                           <h4 class="truncate">{{project.comments}}</h4>
                        </div>
                        <div class="grid-item">
                           <h4>{{project.active? 'Yes' : 'No'}}</h4>
                        </div>
                        <div class="grid-item edit">
                           <button mat-icon-button (click)="editProject(project)">
                              <mat-icon>edit</mat-icon>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
</div>