:host {
  height: 100%;
}

.calendarComponent {
  display: flex;
  height: 100%;
}

.icon {
  width: 100px;
  background-color: #d9ddf2;
  cursor: pointer;
}

.material-icons {
  margin-top: 30px;
  font-size: 80px; 
  color: white;
}

.aboveHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.userInfo {
  display: flex;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.info {
  margin: 10px;
  font-size: 14px;
  margin: 3px;
  font-weight: bolder;
  color: #666666;
}

.info p {
  margin: 3px;
}

.mat-raised-button {
  margin-right: 10px;
  background-color: #d9ddf2;
  color:  #737373;
  padding: 2px 22px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #bfbfbf;
}
.calendarWrapper {
  overflow: auto;
  position: relative;
}

.calendar {
  margin: 0 10px;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(240, 240, 240, .5);
  z-index: 10000;
}
.calendar__spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}
