<nav mat-tab-nav-bar>
  <div  class="navigation__logo" mat-tab-link disabled>
    <img src="assets/logo.png" />
  </div>
  <a
    mat-tab-link 
    *ngFor="let link of links; let i = index" 
    [routerLink]="['/', link.path]"
    [active]="currentUrl == link.path"
  >
    {{link.data.name}}
  </a>
  <!-- <a  active="false" (click)="logout()">Logout</a> -->
  <button mat-tab-link mat-button [matMenuTriggerFor]="menu">
    <div class="menuWrapper">
      <div class="avatar">
        <img class="avatar" src="assets/avatar.png"/>
      </div>
      <span class="user">{{user.firstName}} {{user.lastName}}</span>
    </div>
    
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Your profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</nav>
