
.container {
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.main-card {
  min-height: calc(100vh - 140px);
}

.project-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.statements {
  margin-top: 30px;
}

.warn {
  color: red;
}
