<app-add-entry [clients]="clientList" (createNewProject)="createNewProject($event)" [(isOpen)]="isDrawerOpened">
</app-add-entry>
<div class="container">
  <mat-card class="main-card">
    <header class="header">
      <div class="timesheet">
        <h2 class="mat-h2">Enter your timesheet for</h2>
        <div class="date-wrapper">
          <button mat-icon-button (click)="getPreviousWeek()">
            <mat-icon>chevron_left</mat-icon>
          </button>

          <mat-form-field>
            <mat-datepicker touchUi #picker></mat-datepicker>
            <div class="current-title">
              <h2 matRipple class="mat-h3 current-date" (click)="picker.open()">
                {{ week[0].date }} - {{ week[week.length-1].date}}
              </h2>
            </div>
            <input hidden matInput [(ngModel)]="dateCalendar" (dateChange)="onCalendarChange($event)"
              [matDatepicker]="picker">
          </mat-form-field>
          <button mat-icon-button (click)="getNextWeek()">
            <mat-icon>chevron_right</mat-icon>
          </button>
          <button matRipple class="date-range" (click)="picker.open()">
            <mat-icon>date_range</mat-icon>
          </button>
        </div>
      </div>
      <div class="add-entry">
        <button mat-raised-button (click)="openDrawer()">
          Add new entry
        </button>
      </div>
    </header>
      <!-- header time entry -->
    <mat-toolbar class="time-entry time-entry-header" color="primary">
      <h4>Client</h4>
      <h4>Projects</h4>
      <div class="dayWeek-cnt" *ngFor="let dayWeek of week" appWeekend [day]="dayWeek">
        <p class="dayWeek time-entry-header__week-date">{{ dayWeek.date.slice(0, 5) }}</p>
        <p class="dayWeek time-entry-header__week-day">{{ dayWeek.day.slice(0, 3).toUpperCase() }}</p>
      </div>
    </mat-toolbar>
    <div *ngIf="!isLoading">
  
      <!-- content time entry -->
      <div class="time-entry-content" *ngFor="let client of projects | groupProjectsByClient">
        <div [ngStyle]="{'grid-row': '1 / span ' + client.projects.length }" class="project-cell">
          <h3>{{client.clientName}}</h3>
        </div>
        <div 
          class="project-row" 
          *ngFor="let project of client.projects"
          [ngClass]="{
            'submitted': project.weekDays[0].status === 'submitted',
            'saved': project.weekDays[0].status === 'saved'
          }"
        >
          <div class="project-cell">
            <h5>{{project.projectInfo.name}}</h5>
          </div>
          <app-quantity *ngFor="let day of project.weekDays" [(inputValue)]="day.hours" appWeekend [day]="day">
          </app-quantity>
          <div class="project-cell">
            <button
              [disabled]="project.weekDays[0].status === 'submitted'"
              mat-icon-button
              (click)="removeProject(project)"
            >
              <mat-icon >delete</mat-icon>
            </button>
          </div>
          <div class="project-cell">
            <p>{{ sumAllHoursFromWeek(project) }}</p>
          </div>
        </div>
      </div>
  
      <!-- footer time entry -->
      <footer *ngIf="projects.length">
        <div class="time-entry-footer">
          <div></div>
          <p
            class="project-cell" 
            *ngFor="let dayWeek of week"
            appWeekend
            [day]="dayWeek"
          >
            {{ sumHoursFromSelectedDay(dayWeek.day) }}
          </p>
        </div>
        <div class="footer">
          <button class="footer__save" mat-stroked-button (click)="saveCurrentEntries()">Save</button>
          <button mat-stroked-button (click)="sumbitCurrentEntries()">Submit</button>
        </div>
      </footer>
      <div class="project-cell" *ngIf="!projects.length && !isError">
        <p class="mat-display-1">Choose project and then you can enter your time</p>
      </div>

    </div>
    <div class="project-cell loading-spinner">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <p class="mat-display-1 warn" *ngIf="isError">Can't get data from the server. Please log out and log in. If it won't help please contact administration worker</p>
    </div>
  </mat-card>
</div>
