<app-add-entry [(isOpen)]="isDrawerOpened"></app-add-entry>
<div class="container">
  <mat-card class="main-card">
    <header class="header">
      <div class="timesheet">
        <h2 class="mat-h2">Enter your timesheet for</h2>
        <div class="date-wrapper">
          <button mat-icon-button (click)="getPreviousWeek()">
            <mat-icon>chevron_left</mat-icon>
          </button>

          <mat-form-field>
            <mat-datepicker touchUi #picker></mat-datepicker>
            <div class="current-title">
              <h2 matRipple class="mat-h3 current-date" (click)="picker.open()">
                {{ week[0].date }} - {{ week[week.length-1].date}}
              </h2>
            </div>
            <input hidden matInput [(ngModel)]="dateCalendar" (dateChange)="onCalendarChange($event)"
              [matDatepicker]="picker">
          </mat-form-field>
          <button mat-icon-button (click)="getNextWeek()">
            <mat-icon>chevron_right</mat-icon>
          </button>
          <button matRipple class="date-range" (click)="picker.open()">
            <mat-icon>date_range</mat-icon>
          </button>
        </div>
      </div>
      <div class="add-entry">
        <button mat-icon-button (click)="openDrawer()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </header>
    <!-- header time enty -->
    <mat-toolbar class="time-entry time-entry-header">
      <h4>Client</h4>
      <h4>Projects</h4>
      <div *ngFor="let dayWeek of week">
        <p>{{ dayWeek.date.slice(0, 5) }}</p>
        <p>{{ dayWeek.day.slice(0, 3).toUpperCase() }}</p>
      </div>
    </mat-toolbar>

    <!-- content time entry -->
    <div class="time-entry-content" *ngFor="let client of projects">
      <div [ngStyle]="{'grid-row': '1 / span ' + client.projects.length }" class="project-cell">
        <h3>{{client.clientName}}</h3>
      </div>
      <div class="project-row" *ngFor="let project of client.projects">
        <div class="project-cell">
          <h5>{{project.projectName}}</h5>
        </div>
        <div class="project-cell" *ngFor="let day of project.weekDays">
          <app-quantity 
            [(inputValue)]="day.hours"
            [isWeekend]="day.day === 'saturday' || day.day === 'sunday'"
          ></app-quantity>
        </div>
        <div class="project-cell">
          <button mat-icon-button (click)="removeProject(client, project)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="project-cell">
          <p>{{ sumAllHoursFromWeek(project) }}</p>
        </div>
      </div>
    </div>

    <!-- footer time entry -->
    <div class="time-entry-footer">
      <div></div>
      <p class="project-cell" for="monday">{{ sumHoursFromSelectedDay('monday') }}</p>
      <p class="project-cell" for="tuesday">{{ sumHoursFromSelectedDay('tuesday') }}</p>
      <p class="project-cell" for="wednesday">{{ sumHoursFromSelectedDay('wednesday') }}</p>
      <p class="project-cell" for="thursday">{{ sumHoursFromSelectedDay('thursday') }}</p>
      <p class="project-cell" for="friday">{{ sumHoursFromSelectedDay('friday') }}</p>
      <p class="project-cell" for="saturday">{{ sumHoursFromSelectedDay('saturday') }}</p>
      <p class="project-cell" for="sunday">{{ sumHoursFromSelectedDay('sunday') }}</p>
    </div>

    <footer class="footer">
      <button class="footer__save" mat-stroked-button>Save</button>
      <button mat-stroked-button>Submit</button>
    </footer>
  </mat-card>
</div>
