.time-entry-footer {
  display: grid;
  grid-template-columns: 4fr repeat(7, 1fr) 2fr;
  grid-template-rows: 40px;
  border-bottom: 2px solid #f5f5f5;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.buttons__save {
  margin-right: 25px;
}

.project-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.red {
  background-color: red;
}


.project-cell .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.project-cell .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.visible {
  visibility: visible;
  opacity: 1;
}
