<div fxLayout="row" fxLayoutAlign="center center">
   <mat-card 
      [ngClass]="{hidden: isSuccess === true || isFail === true}">
      <mat-card-header fxLayoutAlign="center">
         <mat-card-title>New User Registration</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <form fxLayout="column">
            <mat-form-field appearance="outline" class="login-form-input">
               <mat-label>First Name</mat-label>
               <input 
               matInput 
               [(ngModel)]="name"
               name="name"
               #nameInput="ngModel" 
               required
               >
            </mat-form-field>
            <mat-form-field 
               appearance="outline" 
               class="login-form-input">
               <mat-label>Surname</mat-label>
               <input 
               matInput 
               [(ngModel)]="surname" 
               name="surname"
               #surnameInput="ngModel" 
               required>
            </mat-form-field>
            <mat-form-field 
               appearance="outline" 
               class="login-form-input">
               <mat-label>Email</mat-label>
               <input 
               matInput 
               type="email" 
               name="password"
               [(ngModel)]="email" 
               #emailInput="ngModel"
               required>
            </mat-form-field>
            <mat-form-field>
               <mat-select 
               matNativeControl 
               placeholder="Role"
               [(ngModel)]="role"
               #roleInput="ngModel" 
               name="role"
               multiple
               required>
               <mat-option value="consultant">Consultant
               </mat-option>
               <mat-option value="administration">Administration
               </mat-option>
               <mat-option value="manager">Manager
               </mat-option>
               </mat-select>
            </mat-form-field>
            <mat-form-field>
               <mat-select 
               matNativeControl 
               placeholder="Department"
               name="department"
               [(ngModel)]="department"
               #departmentInput="ngModel"
               required 
               >
               <mat-option value="digital">Digital
               </mat-option>
               <mat-option value="salesforce">Salesforce
               </mat-option>
               <mat-option value="banking">Banking
               </mat-option>
               </mat-select>
            </mat-form-field>
            <mat-card-actions fxLayoutAlign="center start" class="login-form-button">
               <button
               type="submit" 
               mat-raised-button 
               color="primary"
               (click)="sendUserRegData()"
               [disabled]="nameInput.invalid || surnameInput.invalid
               || emailInput.invalid || roleInput.invalid || departmentInput.invalid">
               Login
               </button>
            </mat-card-actions>
         </form>
         <mat-spinner [ngClass]="{hidden: isSubmitted !== true}"></mat-spinner>
      </mat-card-content>
   </mat-card>
   <mat-card [ngClass]="{hidden: isSuccess !== true}">
      <mat-card-header fxLayoutAlign="center center" style="height:200px; width:300px">
         <mat-card-title style="color: green">New User has been registered</mat-card-title>
      </mat-card-header>
   </mat-card>
   <mat-card [ngClass]="{hidden: isFail !== true}">
      <mat-card-header fxLayoutAlign="center center" style="height:200px; width:300px">
         <mat-card-title style="color: red">Wrong User Data!</mat-card-title>
      </mat-card-header>
   </mat-card>
</div>
