<div fxLayout="row" fxLayoutAlign="center center">
   <mat-card [ngClass]="{hidden: isSuccess === true || isFail === true}">
      <mat-card-header fxLayoutAlign="center">
         <mat-card-title>New User Registration</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <form class="registration-form" (ngSubmit)="onSubmit()" #myForm="ngForm" fxLayout="column">
            <mat-form-field appearance="outline" class="login-form-input">
               <mat-label>First Name</mat-label>
               <input matInput name="firstName" ngModel required>
            </mat-form-field>
            <mat-form-field appearance="outline">
               <mat-label>Surname</mat-label>
               <input matInput name="lastName" ngModel required>
            </mat-form-field>
            <mat-form-field appearance="outline">
               <mat-label>Email</mat-label>
               <input matInput type="email" name="email" ngModel required email>
            </mat-form-field>
            <mat-form-field>
               <mat-select matNativeControl placeholder="Role" name="roles" multiple ngModel>
                  <mat-option value="CONSULTANT">Consultant</mat-option>
                  <mat-option value="ADMINISTRATION">Administration</mat-option>
                  <mat-option value="MANAGER">Manager</mat-option>
               </mat-select>
            </mat-form-field>
            <mat-form-field>
               <mat-select matNativeControl placeholder="Department" name="department" ngModel required>
                  <mat-option *ngFor="let department of departments" [value]="department.departmentId">{{department.name}}</mat-option>
               </mat-select>
            </mat-form-field>
            <mat-card-actions fxLayoutAlign="center start">
               <button type="submit" mat-raised-button color="primary" [disabled]="!myForm.valid">
                  Register
               </button>
            </mat-card-actions>
         </form>
         <mat-spinner [ngClass]="{hidden: isLoading !== true}"></mat-spinner>
      </mat-card-content>
   </mat-card>
   <mat-card [ngClass]="{hidden: isSuccess !== true}">
      <mat-card-header class="successMessage" fxLayoutAlign="center center">
         <mat-card-title>
            New User has been registered
         </mat-card-title>
      </mat-card-header>
   </mat-card>
   <mat-card [ngClass]="{hidden: isFail !== true}">
      <mat-card-header class="failMessage" fxLayoutAlign="center center">
         <mat-card-title>
            {{errorMessage}}
         </mat-card-title>
      </mat-card-header>
   </mat-card>
</div>
