.mat-card-header,
.mat-card-actions {
  display: flex;
  justify-content: space-around;
}

.mat-card {
  text-align: center;
  overflow: hidden !important;
}

/* Step 1 */
.createStep1 {
  width: 300px;
}

.createStep1 .mat-form-field {
  width: 300px;
}

.checkbox {
  margin: 15px;
  text-align: left;
}

.roles-header-grid1 {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 50px 50px;
}

.roles-header-grid2 {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr 50px 50px;
}

.roles-grid1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 50px 50px;
}

.roles-grid2 {
  display: grid;
  grid-template-columns: 2fr 1fr 50px 50px;
}

.roles-header-grid1 .grid-item,
.roles-header-grid2 .grid-item,
.consultants-header-grid .grid-item {
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.54);
  vertical-align: middle;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;
  align-items: center;
  vertical-align: middle;
}

h4 {
  font-weight: normal;
  padding: 0 10px;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.edit {
  border: none;
}

.hidden {
  display: none;
}

/* Step 2 */
.step2,
.step3 {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
  display: flex;
  flex-direction: column;
}

.step2 .mat-card-content,
.step3 .mat-card-content {
  display: flex;
}

.assignRole {
  margin-right: 15px;
}

.editRoles .mat-card,
.assignRole .mat-card,
.editConsultants .mat-card,
.addConsultant .mat-card {
  /* height: 290px; */
  padding-bottom: 0;
}

.editRoles .mat-card-title,
.assignRole .mat-card-title,
.editConsultants .mat-card-title,
.addConsultant .mat-card-title {
  font-size: 14px;
}

.editRoles .mat-card-content,
.assignRole .mat-card-content,
.editConsultants .mat-card-content,
.addConsultant .mat-card-content {
  display: flex;
  flex-direction: column;
}

.editRoles .mat-dialog-actions,
.assignRole .mat-dialog-actions,
.editConsultants .mat-dialog-actions,
.addConsultant .mat-dialog-actions {
  padding: 0;
  margin: 0;
}

.editRoles button,
.assignRole button,
.editConsultants button,
.addConsultant button {
  margin: 0 auto;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
  padding-top: 10px;
  margin: 0;
}

/* Step 3 */
.main {
  display: flex;
  flex-direction: row;
}

.consultants-header-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 50px 50px;
}

.consultants-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 50px 50px;
}

.editConsultants .mat-card,
.addConsultant .mat-card {
  height: 230px;
  width: 310px;
}

button {
  margin: 0 auto;
}

.step3 .mat-dialog-actions {
  margin: 20px;
}

.assignRoleButton {
  margin-top: 20px;
}

.editStep1 {
  width: 520px;
}

.editStep1 .mat-form-field {
  width: 250px;
}

.columns {
  display: flex;
  margin: auto;
}

.column1 {
  display: flex;
  flex-direction: column;
}

.column2 {
  margin-left: 20px;
}
