<!-- Step 2 -->
<div class="step2">
  <mat-card-content>
    <!-- RolesList -->
    <div class="rolesList">
      <!-- OnsiteOffsite - ON -->
      <div *ngIf="onsiteOffsite">
        <div class="roles-header-grid1">
          <div class="grid-item">Role</div>
          <div class="grid-item">On-site rate</div>
          <div class="grid-item">Off-site rate</div>
          <div class="grid-item edit"></div>
          <div class="grid-item edit"></div>
        </div>
        <div *ngFor="let role of rolesSaved">
          <div *ngIf="onsiteOffsite" class="roles-grid1">
            <div class="grid-item truncate" *ngIf="role">
              <h4 class="truncate">{{ role.role }}</h4>
            </div>
            <div class="grid-item truncate" *ngIf="role">
              <h4 class="truncate">{{ role.onSiteRate }}</h4>
            </div>
            <div class="grid-item truncate" *ngIf="role">
              <h4 class="truncate">{{ role.rate }}</h4>
            </div>
            <div class="grid-item edit" *ngIf="role">
              <button mat-icon-button type="button" (click)="openEditRole(role)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="grid-item edit" *ngIf="role">
              <button mat-icon-button type="button" (click)="deleteRole(role)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End of OnsiteOffsite - ON -->
      <!-- OnsiteOffsite - OFF -->
      <div *ngIf="!onsiteOffsite">
        <div class="roles-header-grid2">
          <div class="grid-item">Role</div>
          <div class="grid-item">Rate</div>
          <div class="grid-item edit"></div>
          <div class="grid-item edit"></div>
        </div>
        <div class="roles-grid2" *ngFor="let role of rolesSaved">
          <div class="grid-item truncate" *ngIf="role">
            <h4 class="truncate">{{ role.role }}</h4>
          </div>
          <div class="grid-item truncate" *ngIf="role">
            <h4 class="truncate">{{ role.rate }}</h4>
          </div>
          <div class="grid-item edit" *ngIf="role">
            <button mat-icon-button type="button" (click)="openEditRole(role)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="grid-item edit" *ngIf="role">
            <button mat-icon-button type="button" (click)="deleteRole(role)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- End of OnsiteOffsite - OFF -->
      <mat-card-actions class="assignRoleButton">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="openAssignRole()"
        >
          Assign Role
        </button>
      </mat-card-actions>
    </div>
    <!-- End of Roles List -->

    <!-- Create/Edit role Section -->
    <edit-create-role
      [ngClass]="{
        assignRole: createEditRole === true,
        hidden: createEditRole !== true
      }"
      (roleCreated)="roleCreated($event)"
      [siteOffsite]="onsiteOffsite"
      [title]="title"
      [roleToEdit]="roleToEdit"
    >
    </edit-create-role>
    <!-- End of Assign Role Section -->
  </mat-card-content>
  <mat-card-actions>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="backToStep1()"
    >
      Back
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="goToStep3()"
    >
      Next
    </button>
  </mat-card-actions>
</div>

<!-- End of Step 2 -->
