<div
  class="quantity-wrapper"  appWeekend [day]="day" 
>
<div class="quantity" #quantity [ngClass]="[day.status]">
  <div class="quantity__status" [ngClass]="{'quantity__status--change': dayState.hours !== day.hours && !!day.status}">
    <div class="quantity__input-wrapper">
      <input appTimeEntry (checkedValue)="verifiedValue($event)" [ngModel]="inputValue" type='text' class="quantity__input" />
    </div>
    <div class="quantity__nav">
      <button class="quantity__button quantity__up" matRipple (click)="increaseValue()">+</button>
      <button class="quantity__button quantity__down" matRipple (click)="decreaseValue()">-</button>
    </div>

  </div>
  </div>
</div>
