    <p (click)="askToHide()">Consultant 1</p>
    <p (click)="askToHide()">Consultant 3</p>
    <p (click)="askToHide()">Consultant 4</p>
    <p (click)="askToHide()">Consultant 5</p>
    <p (click)="askToHide()">Consultant 6</p>
    <p (click)="askToHide()">Consultant 7</p>
    <p (click)="askToHide()">Consultant 8</p>
    
    <p (click)="askToHide()">Consultant 1</p>
    <p (click)="askToHide()">Consultant 3</p>
    <p (click)="askToHide()">Consultant 4</p>
    <p (click)="askToHide()">Consultant 5</p>
    <p (click)="askToHide()">Consultant 6</p>
    <p (click)="askToHide()">Consultant 7</p>
    <p (click)="askToHide()">Consultant 8</p>
    
    <p (click)="askToHide()">Consultant 1</p>
    <p (click)="askToHide()">Consultant 3</p>
    <p (click)="askToHide()">Consultant 4</p>
    <p (click)="askToHide()">Consultant 5</p>
    <p (click)="askToHide()">Consultant 6</p>
    <p (click)="askToHide()">Consultant 7</p>
    <p (click)="askToHide()">Consultant 8</p>
    
    <p (click)="askToHide()">Consultant 1</p>
    <p (click)="askToHide()">Consultant 3</p>
    <p (click)="askToHide()">Consultant 4</p>
    <p (click)="askToHide()">Consultant 5</p>
    <p (click)="askToHide()">Consultant 6</p>
    <p (click)="askToHide()">Consultant 7</p>
    <p (click)="askToHide()">Consultant 8</p>

