.body {
    height: 70vh;
}

.mat-card {
    margin-top: 100px;
}

.mat-form-field {
    width: 300px;
}
  
.mat-spinner {
    margin: auto;
}
  
.hidden {
    display: none;
}
  
.mat-error {
    max-width: 300px;
}

.invalid:before {
    color: red;
    margin-right: 20px;
    content: "✖";
}

.valid:before {
    color: green;
    margin-right: 20px;
    content: "✔";
}