<div fxLayout="row" fxLayoutAlign="center center">
   <mat-card>
         <form 
           fxLayout="column"
           [formGroup]="setPasswordForm"
           (ngSubmit)="sendPassword()"
         >
            <h3>Set up new password</h3>
           <mat-card-content *ngIf="guideIsVisible">
               <h3>Password must contain the following:</h3>
               <p [ngClass]="lowerCase? 'valid' : 'invalid'">A <b>lowercase</b> letter</p>
               <p [ngClass]="upperCase? 'valid' : 'invalid'">A <b>capital (uppercase)</b> letter</p>
               <p [ngClass]="digit? 'valid' : 'invalid'">A <b>number</b></p>
               <p [ngClass]="special? 'valid' : 'invalid'">A <b>special character</b> (!, $, # or %)</p>
               <p [ngClass]="length? 'valid' : 'invalid'">Minimum <b>6 characters</b></p>
           </mat-card-content>
            <mat-form-field appearance="outline">
               <mat-label>New password</mat-label>
               <input 
                 matInput
                 type="password" 
                 name="password1"
                 formControlName="newPassword"
                 (focus)="guideIsVisible = true"
                 (blur)="guideIsVisible = false"
               >
            </mat-form-field>
            <mat-form-field appearance="outline">
               <mat-label>Confirm password</mat-label>
               <input 
                 matInput
                 type="password" 
                 name="password2"
                 formControlName="confirmPassword" 
               >
            </mat-form-field>
            <mat-card-content>
               <p *ngIf="!isMatch" class="nonMatch">* Passwords do not match!</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center start">
               <button
                 type="submit" 
                 mat-raised-button 
                 color="primary" 
                 [disabled]="!setPasswordForm.valid"
               >
                  Confirm
               </button>
            </mat-card-actions>
         </form>
         <mat-spinner [ngClass]="{hidden: isLoading !== true}"></mat-spinner>
   </mat-card>
</div>




<!-- <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
          <form 
            fxLayout="column"
            #passForm="ngForm"
            (ngSubmit)="sendPassword()"
          >
            <mat-card-content *ngIf="guideVisible">
                <h3>Password must contain the following:</h3>
                <p [ngClass]="lowerCase? 'valid' : 'invalid'">A <b>lowercase</b> letter</p>
                <p [ngClass]="upperCase? 'valid' : 'invalid'">A <b>capital (uppercase)</b> letter</p>
                <p [ngClass]="digit? 'valid' : 'invalid'">A <b>number</b></p>
                <p [ngClass]="special? 'valid' : 'invalid'">A <b>special character</b> (!, $, # or %)</p>
                <p [ngClass]="length? 'valid' : 'invalid'">Minimum <b>6 characters</b></p>
            </mat-card-content>
             <mat-form-field appearance="outline">
                <mat-label>New password</mat-label>
                <input 
                  matInput
                  ngModel 
                  (keyup)="checkPassword()"
                  (focus)="showGuide()"
                  (blur)="hideGuide()"
                  type="password" 
                  name="password1"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!$#%])[A-Za-z\d!$#%]{6,}$"
                  required
                >
             </mat-form-field>
             <mat-form-field appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input 
                  matInput
                  ngModel 
                  (keyup)="checkPassword()" 
                  type="password" 
                  name="password2" 
                  required
                >
             </mat-form-field>
             <mat-card-actions fxLayoutAlign="center start">
                <button
                  #confirmButton 
                  type="submit" 
                  mat-raised-button 
                  color="primary" 
                  [disabled]="!passForm.valid"
                >
                   Confirm
                </button>
             </mat-card-actions>
          </form>
          <mat-spinner [ngClass]="{hidden: isLoading !== true}"></mat-spinner>
    </mat-card>
 </div> -->
 