/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.drawer-open {
  overflow: hidden;
}

input {
  background-color: inherit;
}

button {
  color: inherit;
  background-color: inherit;
  border: unset;
  font: inherit;
  padding: 0;
  margin: 0;
}

button:disabled {
  color: rgb(150, 150, 119);
}

p {
  margin: 0;
}

.fc-content-skeleton, .fc-content-skeleton > table {
  height: 100% !important;
  position: relative !important;
}

.fc-event {
  height: 30px !important;
  width: 30px !important;
  background-color: #d9ddf2 !important;
  color:  #737373 !important;
  padding: 2px !important;
  border-radius: 5px !important;
  border: 1px solid #bfbfbf !important;
  margin-bottom: 5px !important;
  bottom: 0 !important;
  position: absolute !important;
}

.fc-title {
  font-size: 13px !important;
  font-weight: bolder;
}

.fc-scroller.fc-day-grid-container {
  overflow: hidden !important;
}