/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './app/shared/components/calendar/ng-calendar.style.css';
@import './app/shared/css/statuses.css';
@import './app/shared/css//tooltip.css';

input {
  background-color: inherit;
}

body {
  margin-bottom: 0;
}

button {
  color: inherit;
  background-color: inherit;
  border: unset;
  font: inherit;
  padding: 0;
  margin: 0;
}

button:disabled {
  color: rgb(150, 150, 119);
}

p {
  margin: 0;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0;
  padding: 0;
}


