<div *ngIf="errorMessage" class="errorMessage">
  <p>{{errorMessage}}</p>
</div>
<div *ngIf="!usersWithTimeEntries.length" class="spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
<div class="main-wrapper">
  <mat-sidenav-container *ngIf="usersWithTimeEntries.length">
    <!-- <mat-sidenav-container> -->
    <mat-sidenav mode="side" [opened]="sidenavOpen">
      <div class="wrapper">
        <div class="wrapper2">
          <app-consultants-list [usersTime]="usersWithTimeEntries" (setCurrentUser)="setCurrentUser($event)">
          </app-consultants-list>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-calendar *ngIf="currentUser" [toggleButtonVisible]="toggleButtonVisible" (listClick)="showSidenav()"
        [currentUser]="currentUser" isTimeApproval="true" (setStatusForOneDay)="setStatusForOneDay($event)" #calendar
        (nextApproval)="getMoreTimeSheetsToApprove($event)" (approveAll)="approveAll($event)"
        (updateCurrentUser)="updateCurrentUser($event)">
      </app-calendar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
